{% extends "header.html" %}


{% block content %}
<div id="carouselExampleControls" class="carousel slide decrease_2x" data-ride="carousel">
    <div class="carousel-inner">
        {% for (i, img) in list_images %}
            {% if not i %}
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../static/img/{{ images }}/{{ img }}" alt="{{ img }}">
                </div>
            {% else %}
                <div class="carousel-item">
                    <img class="d-block w-100" src="../static/img/{{ images }}/{{ img }}" alt="{{ img }}">
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div>
<h1>Макс скорость: {{ max_speed }}</h1>
<h1>л. с.: {{ power }}</h1>
<h1>Объем топливного бака: {{ fuel_tank_volume }}</h1>
<h1>Расход топлива на 1 километр: {{ consumption_petrol }}</h1>
<h1>Страна: {{ assembly_country }}</h1>
<h1>Название модели {{ name_car }}</h1>
<h1>Цена автомобиля: {{ price }}</h1>
<body>
  <form action= {{ orig }} target="_blank">
   <button>Подробнее у производителя</button>
  </form>
 </body>
{% endblock %}